// NORMAL COLORS
$body-bg: #222;
$body-color: white;
$toc-bg: #101010;
$link-color: #303EB6;
$visited-color: #4051F0;
$em-color: #aaccff;
$strong-color: #0C47D6;
$header-color: #527bbd;
$header-border-color: #555;
$bullet-color: #aaa;
$author-color: $header-color;
$admonition-color: #808080;
$sidebar-bg: #ffffee;
$content-border-color: #dddddd;
$content-border-left-color: #939393;
$listing-bg: #333;
$qv-color: #aaa;
$img-visited-color: white;
$comment-bg: yellow;

// SLIDY COLORS
$toolbar-bg:              #242424;
$toolbar-color:           #F040A4;
$toolbar-border-color:    #b4b4b4;
$prompt-bg:               #c8c8c8;
$prompt-bg-alpha:         rgba($toolbar-bg, 0.35);
$slidy-toc-bg:            $toolbar-bg;
$slidy-link-color:        #303EB6;
$slidy-link-hover-color:  #F040A4;
$slidy-nav-color:         white;
$slidy-nav-visited-color: yellow;
$slidy-nav-hover-color:   #F040A4;
