// NORMAL COLORS
$body-bg: white;
$body-color: black;
$toc-bg: $body-bg;
$link-color: blue;
$visited-color: fuchsia;
$em-color: navy;
$strong-color: #083194;
$header-color: #527bbd;
$header-border-color: silver;
$bullet-color: #aaa;
$author-color: $header-color;
$admonition-color: #606060;
$sidebar-bg: #ffffee;
$content-border-color: #dddddd;
$content-border-left-color: #f0f0f0;
$listing-bg: #f8f8f8;
$qv-color: #888;
$img-visited-color: white;
$comment-bg: yellow;

// SLIDY COLORS
$toolbar-bg:              #f0f0f0;
$toolbar-color:           red;
$toolbar-border-color:    #b4b4b4;
$prompt-bg:               #c8c8c8;
$prompt-bg-alpha:         rgba($toolbar-bg, 0.35);
$slidy-toc-bg:            $toolbar-bg;
$slidy-link-color:        navy;
$slidy-link-hover-color:  red;
$slidy-nav-color:         white;
$slidy-nav-visited-color: yellow;
$slidy-nav-hover-color:   red;
