$body-bg: white;
$body-color: black;
$link-color: blue;
$visited-color: fuchsia;
$em-color: navy;
$strong-color: #083194;
$header-color: #527bbd;
$header-border-color: silver;
$bullet-color: #aaa;
$author-color: $header-color;
$admonition-color: #606060;
$sidebar-bg: #ffffee;
$content-border-color: #dddddd;
$content-border-left-color: #f0f0f0;
$listing-bg: #f8f8f8;
$qv-color: #888;
$img-visited-color: white;
$comment-bg: yellow;

body {
	background-color: $body-bg;
	color: $body-color;
}

a {
	color: $link-color;
}

a:visited {
	color: $visited-color;
}

em {
	/* color: $em-color; */
}

strong {
	/* color: $strong-color; */
}

h1, h2, h3, h4, h5, h6 {
	color: $header-color;
}

h1, h2, h3 {
	border-color: $header-border-color;
}

hr {
	border-color: $header-border-color;
}

ul > li {
	color: $bullet-color;
}
ul > li > * {
	color: $body-color;
}

.monospaced, code, pre {
	color: $em-color;
}

#author {
	color: $author-color;
}

#footer {
	border-color: $header-border-color;
}

div.admonitionblock {
	color: $admonition-color;
}

div.title, caption.title {
	color: $header-color;
}

div.sidebarblock > div.content {
	background-color: $sidebar-bg;
	border-color: $content-border-color;
	border-left-color: $content-border-left-color;
}

div.listingblock > div.content {
	border-color: $content-border-color;
	background-color: $listing-bg;
}

div.quoteblock, div.verseblock {
	border-left-color: $content-border-left-color;
	color: $qv-color;
}

blockquote {
	border-left-color: $content-border-left-color;
	color: $qv-color;
}

div.admonitionblock .icon {
	color: $header-color;
}

div.admonitionblock td.content {
	border-left-color: $content-border-color;
}

div.exampleblock > div.content {
	border-left-color: $content-border-color;
}

a.image:visited {
	color: $img-visited-color;
}

dt {
	color: $em-color;
}

td.hdlist1 {
	color: $em-color;
}

.comment {
	background-color: $comment-bg;
}

#footnotes hr {
	border-color: $header-border-color;
}

#toctitle {
	color: $header-color;
}

/* xhtm11 specific */

div.tableblock > table {
	border-color: $header-color;
}

thead, p.table.header {
	color: $header-color;
}

thead, p.tableblock.header {
	color: $header-color;
}

table.tableblock {
	border-color: $header-color;
}

th.tableblock, td.tableblock {
	border-color: $header-color;
}

body.manpage h1 {
	border-color: $header-border-color;
}
