$body-bg: white;
$body-color: black;
$link-color: blue;
$visited-color: fuchsia;
$em-color: navy;
$strong-color: #083194;
$header-color: #527bbd;
$header-border-color: silver;
$bullet-color: #aaa;
$author-color: $header-color;
$admonition-color: #606060;
$sidebar-bg: #ffffee;
$content-border-color: #dddddd;
$content-border-left-color: #f0f0f0;
$listing-bg: #f8f8f8;
$qv-color: #888;
$img-visited-color: white;
$comment-bg: yellow;
